/* Global Styles */
@font-face {
    font-family: 'Delicatus'; 
    src: url('Delicatus.ttf'); 
}

body {
    /* Previous file was too big! Use https://squoosh.app/ to compress it */
    background-image: url('Orion.avif');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    margin-top: 40px;
    font-family: 'Delicatus';
    /* margin-bottom: 40px; */
}

/* Specific background style for the diary page */
body.diary-bg {
    background-size: cover;
}

/* Common Link Styles */
a:link, a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

p {
    color: #0b101f;
}

/* Common Layout Elements */
.center {
    margin: auto;
    width: 60%;
}

.footer { 
    position: fixed;     
    text-align: center;    
    bottom: 20px; 
    width: 100%;
    font-size: 20px;
}

/* Home Page Elements */
.star-container {
    position: relative;
    margin-bottom: 20px;
}

.moon-container {
    position: absolute;
    top: 100px;
    right: 10px;
}

.star-icon {
    width: 8%;
}

.moon-icon {
    width: 25%;
}

/* Image Styles */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

.center-image {
    margin-left: auto;
    margin-right: auto;
}

/* Diary-specific styles */
div.diary-content {
    font-family: 'Delicatus';
    font-size: 25px;
}

.diary-text {
    font-size: 20px;
    color: #0b101f;
}

.diary-date {
    font-weight: bold;
}

.diary-image {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

button.diary-tab {
    background: #dfdfdf !important;
    color: #0b101f;
    font-family: 'Delicatus';
    font-size: 16px;
}

/* Audio Library-specific styles */
.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;
}

/* Ensure full height for audio library */
body.full-height, html.full-height {
    height: 100%;
    margin: 0;
    padding: 0;
} 

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: inherit;
    padding: 10px 0;
    text-align: center;
    z-index: 100;
}
