/* Global Styles */
@font-face {
    font-family: 'Delicatus'; 
    src: url('Delicatus.ttf'); 
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
}

body.enter-bg {
    background-image: url('fishypixel.jpg');
}
body.home-bg {
    background-image: url('./home/image.jpg');
}
body.about-bg {
    background-image: url('./about/about.jpg');
}
body.diary-bg {
    background-image: url('diary/POND.jpg');
}

@media (max-width: 768px) {
   body {
        background-image: none;
        background-attachment: scroll;
    }

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
    }

    body.enter-bg::before {
        background-image: url('fishypixel.jpg');
    }
    body.home-bg::before {
        background-image: url('./home/image.jpg');
    }
    body.about-bg::before {
        background-image: url('./about/about.jpg');
    }
    body.diary-bg::before {
        background-image: url('diary/POND.jpg');
    }
}


@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0%,
    100% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(80px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
    left: 25%;
    -webkit-animation-delay: 2s, 0s;
    animation-delay: 2s, 0s
}

.snowflake:nth-of-type(11) {
    left: 65%;
    -webkit-animation-delay: 4s, 2.5s;
    animation-delay: 4s, 2.5s
}

/* Common Link Styles */
a:link {
    color: rgb(255, 255, 255);
    text-shadow:
                0 0 50px rgb(141, 85, 254),
                0 0 10px rgb(221, 255, 136),
                0 0 20px rgb(59, 213, 210),
                0 0 10px rgba(0, 145, 255, 0.827)  !important;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
  color: white;
  text-shadow:
    0 0 50px rgb(150, 85, 254),
    0 0 10px rgb(132, 55, 240),
    0 0 20px rgb(59, 133, 213),
    0 0 10px rgba(0, 145, 255, 0.827) !important;
  text-decoration: none;
  display: inline-block;
}


/* Common Layout Elements */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
    font-family: 'Delicatus';
    font-size:25px;
  }



/* Image Styles */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

.center-image {
    margin-left: auto;
    margin-right: auto;
}

/* Diary-specific styles */

#scroll {
  max-height: 50vh;
  max-width: 50vh;
    padding: 10px;
    border: 3px double #ffffff;
  overflow-y: auto;
  padding: 1.5rem;
  box-sizing: border-box;
  position: relative;
  background: transparent; /* keep whatever bg you already have */
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    margin-left: 50px;
    margin-right:50px;
  }

h1 {
    font-family: 'Delicatus';
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0;
    
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

 @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }

    50% {
      transform: translate(0, 6px);
    }

    100% {
      transform: translate(0, -0px);
    }
 }
   

p {
    font-family: 'Delicatus';
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 10px 0;
    text-shadow:
                0 0 5px rgb(187, 156, 237),
                0 0 10px rgb(27, 142, 142),
                0 0 20px rgb(75, 162, 255),
                0 0 40px rgb(28, 190, 235)
}

img {
    box-shadow:  0 0 5px rgb(156, 202, 237),
                 0 0 10px rgb(12, 87, 57),
                 0 0 20px rgb(53, 97, 144),
                 0 0 40px rgb(44, 69, 160);
} 
.entry-links {
    font-family: 'Delicatus';
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 10px;
}

  



.diary-text {
    font-size: 20px;
    color: black;
}

.diary-date {
    font-weight: bold;
}

.diary-image {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}





.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    z-index: 100;
    font-family: 'Delicatus';
    font-size: 30px;
    display: flex;
    justify-content: center;
    color:white;
    text-shadow:
                0 0 5px rgb(156, 237, 161),
                0 0 10px rgb(16, 70, 70),
                0 0 20px rgb(53, 97, 144),
                0 0 40px rgb(44, 69, 160)

}
.right {
    position: fixed;
    bottom: 0;
    right: 50px;
    width: 10%;
    background-color: inherit;
    padding: 10px 0;
    text-align: right;
    z-index: 100;
    font-family: 'Delicatus';
    font-size:20px;
}

.left {
    position: fixed;
    bottom: 0;
    left: 50px;
    width: 10%;
    background-color: inherit;
    padding: 10px 0;
    text-align: left;
    z-index: 100;
    font-family: 'Delicatus';
    font-size:20px;
}
/* Gallery-specific styles */

* {
    box-sizing: border-box;
  }
  
  .row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width:25%
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  .modal-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 500px;
  }
  
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px;
  }
  
  .caption-container p#caption {
      color: white !important;
      font-size: 18px !important;
      font-family: 'Delicatus', sans-serif !important;
      margin: 0 !important;
      padding: 10px 0 !important;
      display: block !important;
    }
  
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(180, 247, 178, 0.19);
  }
  
  @media (max-width: 768px) {
    .gallery .column {
      width: 100% !important;
      float: none;
      padding: 8px 0;
    }
  
    .gallery.row {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  

